@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050709;
  --card-background: #0D1116;
  --grid-empty: #161B22;
  --grid-filled: #018A08;
}

body {
  @apply bg-[#050709] text-white;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}

.dark {
  color-scheme: dark;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
